services:
  app:
    image: shanepanter/fullstack-starter-go:latest
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: go-app
    restart: unless-stopped
    environment:
      - PORT=3000
    volumes:
      - ./data:/app/data
    networks:
      - app-network
    expose:
      - "3000"

  nginx:
    image: shanepanter/fullstack-starter-nginx-go:latest
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx-proxy-go
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
